@(id:String)
<script type="text/javascript">
    $(function () {
        var id = '@id';
        var model = 'cfg_app';
        var count = 10;
        $('#select_hostgroup').select2({
            allowClear: true,
            placeholder: "选择HostGroup"
        });
        $('#saveBtn' ).click(function(){
            var hostgroups = $('#select_hostgroup').select2("val");
            var appName = $('#app_name').val();
            var appDesc = $('#app_desc').val();
            var params = {
                SUBSYSTEM_ID: id,
                NAME: appName,
                DESCRIPTION: appDesc,
                HOSTGROUP:hostgroups.join(',')
            };
            $.ajax({
                cache:false,
                dataType: "text",
                type: "POST",
                contentType:'application/json',
                data: JSON.stringify(params),
                url: '@routes.Storages.addapp()',
                success:function(data){
                    $('#add_app').modal('hide');
                    loadTable();
                }
            });
        });
        var title = $('<a class="DTTT_button" href="#">添加应用</a>');
        title.click(function(){
            $('#add_app').modal('show');
        });
        loadTable();

        loadHostgroup();
        function loadTable(){
            initTable('@routes.Datatables.options()','table1',model,count,id,title,'','');
        }

        function loadHostgroup(){
            $.ajax({
                cache:false,
                dataType: "json",
                type: "GET",
                data: {id:id},
                url: '@routes.Storages.hostgroupJson()',
                success:function(data){
                    $('#select_hostgroup').empty();
                    $.each(data,function(idx,obj){
                        var option = $('<option value='+obj+'>'+obj+'</option>');
                        $('#select_hostgroup').append(option);
                    });
                }
            });
        }
    });
</script>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="stat-panel text-center">
            <div class="stat-row">
                <div class="stat-cell bordered no-border-t no-padding" id="table1" style="height: 500px">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="add_app" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">添加应用</h4>
            </div>
            <div class="modal-body">
                <label for="app_name">应用名称</label>
                <input id="app_name" class="form-control" type="text">
                <label for="app_desc">应用描述</label>
                <input id="app_desc" class="form-control" type="text">
                <label for="app_hostgroup">HostGroup</label>
                <div class="select2-success">
                    <select id="select_hostgroup" multiple="multiple" class="form-control">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="#" id="saveBtn">保存</a>
            </div>
        </div>
    </div>
</div>