@(id:String,kpi:String,sub_kpi:String,math:String = "max",title:String = "",start_time:String = "",end_time:String = "")

<script type="text/javascript">
    $(function () {
        initChart('@routes.Charts.options()','chart1','@kpi','@sub_kpi','@math','@title','@id','@start_time','@end_time');
    });
</script>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="stat-panel text-center">
            <div class="stat-row">
                <div class="stat-cell bordered no-border-t no-padding" id="chart1" style="height: 500px">
                </div>
            </div>
        </div>
    </div>
</div>