@(id:String,model:String,count:Int = 10)

<script type="text/javascript">
    $(function () {
        var id = '@id';
        var model = '@model';
        var count = @count;
        initTable('@routes.Datatables.options()','table1',model,count,id);
    });
</script>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel">
            <div class="panel-body">

                <div id="table1" style="height: 500px"></div>

            </div> <!-- / .panel-body -->
        </div>
    </div>
</div>