@(device:com.fasterxml.jackson.databind.node.ObjectNode)

@main("Storage") {
    <script type="text/javascript">
        $(function () {
            var id = '@device.get("ID").asText()';
            var container = $('#page-content');
            $.each($('.components a'),function(idx,obj){
                $(obj).click(function(){
                    $('.components a').removeClass('btn-success');
                    $('.components a').addClass('btn-pa-purple');
                    $(this).removeClass('btn-pa-purple');
                    $(this).addClass('btn-success');
                    if($(this).attr('id') == 'summaryBtn')
                        container.load('@{routes.Switchs.summary()}?id='+id);
                    else if($(this).attr('id') == 'portBtn')
                        container.load('@{routes.Switchs.port()}?id='+id);
                });
            });
            container.load('@{routes.Switchs.summary()}?id='+id);
        });
    </script>
    <ul class="breadcrumb breadcrumb-page">
        <div class="breadcrumb-label text-light-gray">You are here: </div>
        <li><a href="#">Switch</a></li>
        <li class="active"><a href="#">@device.get("ELEMENT_NAME").asText()</a></li>
    </ul>
    <div class="page-header">

        <div class="row">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm">
            <img style="max-width: 110px; max-height: 70px;" src="assets/images/vendor/@device.get("ICON").asText()">&nbsp;&nbsp;@device.get("ELEMENT_NAME").asText() ( @device.get("IP_ADDRESS").asText() )</h1>
            <div class="col-xs-12 col-sm-8">
            </div>
        </div>
    </div>
    <div id="page-content">

    </div>
}