@(subsystem:com.fasterxml.jackson.databind.node.ObjectNode)

@main("Storage Dashboard") {
    <script type="text/javascript">
        $(function () {
            var id = '@subsystem.get("id").asText()';
            initChart('@routes.Charts.options()','chart1','subsystem','capacity','',id);
            initChart('@routes.Charts.options()','chart2','subsystem','iops','',id);
            initChart('@routes.Charts.options()','chart3','subsystem','transfer','',id);
            initChart('@routes.Charts.options()','chart4','subsystem_raidgroup_topn','usage','',id);
            initChart('@routes.Charts.options()','chart5','subsystem_raidgroup_topn','response','',id);
            initTable('@routes.Datatables.options()','table2','fcport_prf');
            initTable('@routes.Datatables.options()','table1','raidgroup_prf',10);
            $.each($('.components a'),function(idx,obj){
                $(obj).click(function(){
                    $('.components a').removeClass('btn-success');
                    $('.components a').addClass('btn-pa-purple');
                    $(this).removeClass('btn-pa-purple');
                    $(this).addClass('btn-success');
                });
            });
        });
    </script>
    <ul class="breadcrumb breadcrumb-page">
        <div class="breadcrumb-label text-light-gray">You are here: </div>
        <li><a href="#">Storage</a></li>
        <li class="active"><a href="#">@subsystem.get("name").asText()</a></li>
    </ul>
    <div class="page-header">

        <div class="row">
                <!-- Page header, center on small screens -->
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm">&nbsp;&nbsp;@subsystem.get("name").asText()</h1>

            <div class="col-xs-12 col-sm-8">
                <div class="row components">
                    <a href="#" class="btn btn-success btn-labeled"><div class="icon fa schedule16" style="margin-bottom: -3px"></div>&nbsp;&nbsp;Summary</a>
                    <a href="#" class="btn btn-pa-purple btn-labeled"><div class="icon fa port16" style="margin-bottom: -3px"></div>&nbsp;&nbsp;Port</a>
                    <a href="#" class="btn btn-pa-purple btn-labeled"><div class="icon fa database16" style="margin-bottom: -3px"></div>&nbsp;&nbsp;Cache</a>
                    <a href="#" class="btn btn-pa-purple btn-labeled"><div class="icon fa pool16" style="margin-bottom: -3px"></div>&nbsp;&nbsp;RaidGroup</a>
                    <a href="#" class="btn btn-pa-purple btn-labeled"><div class="icon fa thinVolume16" style="margin-bottom: -3px"></div>&nbsp;&nbsp;Volume</a>
                    <a href="#" class="btn btn-pa-purple btn-labeled"><div class="icon fa disk16" style="margin-bottom: -3px"></div>&nbsp;&nbsp;Disk</a>
                </div>
            </div>
        </div>
    </div> <!-- / .page-header -->

    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell col-sm-4 padding-sm-hr bordered valign-top">
                        <ul class="list-group no-margin">
                            <li class="list-group-item no-border-hr no-border-t padding-xs-hr no-bg no-border-radius">
                                <span class="label label-pa-purple pull-left">生产商</span> Hitachi
                            </li>
                            <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                                <span class="label label-pa-purple pull-left">IP地址</span> 11.28.68.81
                            </li>
                            <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                                <span class="label label-pa-purple pull-left">微码版本</span> 06.60.02.00
                            </li>
                            <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                                <span class="label label-pa-purple pull-left">设备地点</span> 海鹰机房103
                            </li>
                            <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                                <span class="label label-pa-purple pull-left">管理员电话</span> 37842912
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                        <i class="fa fa-cloud"></i>&nbsp;&nbsp;Capacity ( TB )
                    </div>
                </div>
                <div class="stat-row">
                    <div class="stat-cell bordered no-border-t no-padding" id="chart1" style="height: 200px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                        <i class="fa fa-cloud"></i>&nbsp;&nbsp;IO/sec (Last 24 hours)
                    </div>
                </div>
                <div class="stat-row">
                    <div class="stat-cell bordered no-border-t no-padding" id="chart2" style="height: 200px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                        <i class="fa fa-cloud"></i>&nbsp;&nbsp;MB/sec (Last 24 hours)
                    </div>
                </div>
                <div class="stat-row">
                    <div class="stat-cell bordered no-border-t no-padding" id="chart3" style="height: 200px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col-sm-3 col-md-3">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                        <i class="fa fa-cube"></i>&nbsp;&nbsp;Top 10 RaidGroup by Usage (Last 24 hours)
                    </div>
                </div>
                <div class="stat-row">
                    <div class="stat-cell bordered no-border-t no-padding" id="chart4" style="height: 300px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                        <i class="fa fa-cube"></i>&nbsp;&nbsp;Top 10 RaidGroup by Response (Last 24 hours)
                    </div>
                </div>
                <div class="stat-row">
                    <div class="stat-cell bordered no-border-t no-padding" id="chart5" style="height: 300px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                        <i class="fa fa-cube"></i>&nbsp;&nbsp;Port Performance Summary (Last 24 hours)
                    </div>
                </div>
                <div class="stat-row">
                    <div class="stat-cell bordered no-border-t no-padding" id="table2" >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                        <i class="fa fa-cube"></i>&nbsp;&nbsp;RaidGroup Performance Summary (Last 24 hours)
                    </div>
                </div>
                <div class="stat-row">
                    <div class="stat-cell bordered no-border-t no-padding" id="table1" style="height: 200px">
                    </div>
                </div>
            </div>
        </div>
    </div>
}