@main("Storages") {
    <script type="text/javascript">
        $(function () {
            initTable('@routes.Datatables.options()','table1','cfg_subsystem',10);

        });
    </script>
    <ul class="breadcrumb breadcrumb-page">
        <div class="breadcrumb-label text-light-gray">You are here: </div>
        <li><a href="#">Storages</a></li>
    </ul>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bordered no-border-t no-padding" id="table1" style="height: 500px">
                    </div>
                </div>
            </div>
        </div>
    </div>
}