@main("Topology") {
    <script src="@routes.Assets.at("javascripts/topology/jtopo-0.4.3-min.js")"></script>
    <script src="@routes.Assets.at("javascripts/topology/topology.js")"></script>
    <script type="text/javascript">
        $(function(){
            var diagrammer = new Diagrammer({
                id:'topology'
            });
            diagrammer.addNode({id:'server1',name:'server1',type:'server'});
            diagrammer.addNode({id:'server2',name:'server2',type:'server'});
            diagrammer.addNode({id:'fabric1',name:'fabric1',type:'fabric'});
            diagrammer.addNode({id:'storage1',name:'storage1',type:'storage'});
            diagrammer.addNode({id:'storage2',name:'storage2',type:'storage'});
            diagrammer.addLink({id:'link1',source:'server1',target:'fabric1'});
            diagrammer.addLink({id:'link2',source:'server2',target:'fabric1'});
            diagrammer.addLink({id:'link3',source:'fabric1',target:'storage1'});
            diagrammer.addLink({id:'link4',source:'fabric1',target:'storage2'});
            diagrammer.doLayout();
        });
    </script>
    <ul class="breadcrumb breadcrumb-page">
        <div class="breadcrumb-label text-light-gray">You are here: </div>
        <li><a href="#">Topology</a></li>
    </ul>
    <canvas id="topology" width="1024" height="768"></canvas>
}